doctype html
html

  head
    title= title
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    include ../public/html/nav.html
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/materialize.css')
    script (type='text/javascript', src='js/materialize/materialize.min.js')

  body
    block content
