extends layout

block content
  h1= title
  p Welcome to #{title}
<<<<<<< HEAD
  include /public/html/test.html
=======
  include '../public/test.html'
>>>>>>> dc9dead3221946f0567e3b7a111fbb2cf01c58f3
